<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <h3 class="mb-3">Category: {{ currentCategoryName }}</h3>
        <hr class="mb-4">

        <!-- PRODUCT LOOP & DISPLAY -->
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <img src="{{ product.imageUrl }}" alt="{{ product.name }}" class="img-responsive">
            <h1>{{ product.name }}</h1>
            <p class="price mb-2">{{ product.unitPrice | currency: 'USD'}}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
